name: PR CI
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run biome checks (lints)
        run: npm run check
      - name: Type check
        run: npm run typecheck
      - name: Validate posts
        run: npm run validate-posts
      - name: Validate GitHub data
        run: npm run validate-github-data
